*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.nav{
  display: flex;
  flex-direction: row;
  justify-content: end;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
  /* background-color: #1f2937; dark background */
  color: black;
  height: 60px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  position: sticky;
  width: 76%;
}

.navbar-left {
  font-size: 18px;
  font-weight: 500;
}

.logout-button {
  background-color: #ef4444; /* red */
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  transition: background 0.2s ease;
}

.logout-button:hover {
  background-color: #dc2626;
}
